<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.domain.mystream">

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For Push Notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- IMPORTANT: REPLACE "com.domain.mystream" WITH YOUR OWN PACKAGE NAME -->
    <permission
        android:name="com.domain.mystream.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.domain.mystream.permission.C2D_MESSAGE" />

    <application
        android:name=".Constants.Configs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash screen -->
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IMPORTANT: Replace "589147079404" with your own GCM Sender Id. -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:589147079404" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: REPLACE "com.domain.mystream" WITH YOUR OWN PACKAGE NAME -->
                <category android:name="com.domain.mystream" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>

        <!-- FILE PROVIDER -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- For Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Other Activities -->
        <activity android:name=".Activity.Home" />
        <activity android:name=".Activity.TermsOfUse" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.SignUp" />
        <activity android:name=".Activity.Intro" />
        <activity android:name=".Activity.AddStream" />
        <activity android:name=".Activity.ShowVideo" />
        <activity android:name=".Activity.StreamDetails" />
        <activity android:name=".Activity.Settings" />
        <activity android:name=".Activity.OtherUserProfile" />
        <activity android:name=".Activity.Comments" />
        <activity android:name=".Activity.Follow" />
        <activity android:name=".Activity.ActivityScreen" />
        <activity android:name=".Activity.EditProfile" />
        <activity android:name=".Activity.Stickers" />
        <activity android:name=".Activity.Statistics" />
        <activity android:name=".Activity.InboxActivity" />
        <activity android:name=".Activity.NewChat" />
        <activity android:name=".Activity.RepltComment" />
        <activity android:name=".Activity.ShareActivity"></activity>
    </application>

</manifest>